@import "./global/global.css";
@import "./utilidades/tipografia.css";
@import "./utilidades/cores.css";

@import "./global/header.css";
@import "./global/footer.css";

/* Utilidades */
@import "./utilidades/componente.css";


/* Home */
@import "./home/introducao.css";

/* Bicicletas */
@import "./bicicletas/bicicletas-lista.css";